################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LoadRunner/bin/Debug
/LoadRunner/obj/x86/Debug
*.suo
